.photo-bg {
  background-size: cover;
  display: block;
  width: 200%;
  height: 200%;
  left: -50%;
  position: fixed;
  top: -50%; }
  .photo-bg img {
    bottom: 0;
    left: 0;
    margin: auto;
    min-height: 50%;
    min-width: 50%;
    position: absolute;
    right: 0;
    top: 0; }

.quote-box {
  height: 100%;
  padding: 10ex 0 0 0;
  margin: 0 auto;
  max-width: 40em;
  width: 100%; }
  .quote-box .quote-wrapper {
    background: rgba(32, 32, 32, 0.8);
    border: 1px solid white;
    position: relative;
    margin: 0 auto;
    padding: 5em 4em 3em 6.5em; }
    .quote-box .quote-wrapper .quote-mark {
      position: absolute;
      color: white;
      left: 30px;
      font-size: 7em;
      top: 30px; }
    .quote-box .quote-wrapper .quote-mark, .quote-box .quote-wrapper h1, .quote-box .quote-wrapper .author {
      color: transparent;
      transition: color 2s, text-shadow 0.5s; }
    .quote-box .quote-wrapper .author {
      text-align: right;
      text-transform: uppercase; }
    .quote-box .quote-wrapper .blur {
      color: transparent;
      transition: color 0.5s, text-shadow 2s; }
    .quote-box .quote-wrapper .focus {
      color: white;
      transition: color 2s, text-shadow 0.5s; }

.btn-wrap {
  padding-top: 2.5ex;
  position: relative;
  text-align: center; }
  .btn-wrap .new-quote {
    border: 1px solid white;
    background: black;
    background: rgba(32, 32, 32, 0.8);
    color: white;
    left: 0;
    padding: 1ex 1em;
    position: absolute;
    transition: background 0.5s, color 1s, border 1s; }
    .btn-wrap .new-quote:hover {
      background: black;
      cursor: pointer;
      transition: background 0.5s, color 1s; }
  .btn-wrap .twitter {
    position: absolute;
    right: 0; }

.credits div {
  bottom: 0;
  color: white;
  padding: 0 0 1em 0;
  position: absolute; }
  .credits div a {
    font-weight: bold;
    text-decoration: underline; }
    .credits div a:hover {
      color: white; }

.credits .made-by {
  left: 1em; }

.credits .photos-by {
  right: 1em; }
