.photo-bg{
  background-size: cover;
  display: block;
  width: 200%;
  height: 200%;
  left: -50%;
  position: fixed;
  top: -50%;
  img{
    bottom: 0;
    left: 0;
    margin: auto;
    min-height: 50%;
    min-width: 50%;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.quote-box{
  height: 100%;
  padding: 10ex 0 0 0;
  margin: 0 auto;
  max-width: 40em;
  width: 100%;

  .quote-wrapper{
    background: rgba(32, 32, 32, 0.8);
    border: 1px solid white;
    position: relative;
    margin: 0 auto;
    padding: 5em 4em 3em 6.5em;

    .quote-mark{
      position: absolute;
      color: white;
      left: 30px;
      font-size: 7em;
      top: 30px;
    }

     .quote-mark, h1, .author{
      color: transparent;
      transition: color 2s, text-shadow 0.5s;
    }

    .author{
      text-align: right;
      text-transform: uppercase;
    }

    .blur{
      color: transparent;
      //text-shadow: 0 0 50px rgba(255,255,255,0);
      transition: color 0.5s, text-shadow 2s;
    }

    .focus{
      color: white;
      //text-shadow: 0 0 0 rgba(255, 255, 255, 1);
      transition: color 2s, text-shadow 0.5s;
    }

  }
}

.btn-wrap{
  padding-top: 2.5ex;
  position: relative;
  text-align: center;
  .new-quote{
    border: 1px solid white;
    background: black;
    background: rgba(32, 32, 32, 0.8);
    color: white;
    left: 0;
    padding: 1ex 1em;
    position: absolute;
    transition: background 0.5s, color 1s, border 1s;
    &:hover{
      background: black;
      cursor: pointer;
      transition: background 0.5s, color 1s;
    }
  }
  .twitter{
    position: absolute;
    right: 0;
  }

}
.credits{
  div{
    bottom: 0;
    color: white;
    // left: 50%;
    padding: 0 0 1em 0;
    position: absolute;
    // transform: translateX(-50%);

    a{
      font-weight: bold;
      text-decoration: underline;
      &:hover{
        color: white;
      }
    }
  }
  .made-by{
    left: 1em;
  }
  .photos-by{
    right: 1em;
  }
}
